{% include 'header.twig' %}

{# Pass data from twig to JS #}
<div class="bookset"  data-books="{{ books|json_encode() }}">
</div>

{% verbatim %}
<div class="container" ng-app="booksApp"  ng-controller="booksController" ng-init= 'initialize();'>

    <div class="starter-template">
        <h1>My Book Catalogue</h1>
        Select Language:
        <div>
            <select ng-init= "selectedEntry = books[0]; initializeLanguage(selectedEntry.language) " name="langauge" ng-model="selectedEntry" ng-change="updateLanguage(selectedEntry.language)" ng-options="book.language for book in books | unique: 'language'" class="form-control">
            </select>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <a href="#" ng-click="orderByField='title'; reverseSort = !reverseSort">
                        Title 
                        <span ng-show="orderByField == 'title'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                        </a>
                    </th>
                    
                    <th class="hidden-xs hidden-sm">
                        <a href="#" ng-click="orderByField='author'; reverseSort = !reverseSort">
                        Author
                        <span ng-show="orderByField == 'author'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="orderByField='year'; reverseSort = !reverseSort">
                        Year
                        <span ng-show="orderByField == 'year'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in books | filter: {language: selectedEntry.language} | orderBy : orderByField : reverseSort">
                         <td class="col-md-3">{{ book.title }}</td>
                         <td class = "col-md-3 hidden-xs hidden-sm">{{ book.author }}</td>
                         <td class="col-md-3">{{ book.year}}</td>
                    </span>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endverbatim %}

{% include 'footer.twig' %}